%h1 Movies directed by #{@director}


%table#movies
  %thead
    %tr
      %th Movie Title
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= link_to "More about #{movie.title}", movie_path(movie)










